html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;

  overflow-x: hidden;
}

:root {
  /* COLORS GRAL. SPECS*/
  --accent-color: #8667de;
  --primary-color: #a3a6e2;
  --secondary-color: #e5ddff;
  --navbar-color: #c5c1f1;
  --neutral-color: #fff;
  --shadow: 10px 5px 5px black;
  /*FONTS SPECS*/
  --primary-fonts-family: "Raleway", sans-serif;
  --primary-fonts-size: 40px;
  --secondary-fonts-family: "Work Sans", sans-serif;
  --secondary-fonts-size: 20px;
  /*NAVIGATION SPECS*/
  --btn-border: 15px;
  --btn-font-size: 15px;
  --shadow: 0 5px 10px rgba(0, 0, 0, 0.247);
  --btn-padding: 10px;
}

/**********NAVBAR*********/
.nav{
  padding-right: 20px;
}
.name {
  color: var(--accent-color);
}
.bg-secondaryC {
  background-color: var(--navbar-color);
  padding-right: 200px;
}
.navbar-brand,
.nav-link {
  font-family: var(--secondary-fonts-family);
  font-size: var(--secondary-fonts-size);
  color: var(--neutral-color);
  font-weight: bold;
  padding-left: 25px;
}
.navbar-brand {
  font-family: var(--primary-fonts-family);
}
.container-fluid {
  padding-left: 150px;
}
#navbarNav {
  padding-left: 100px;
}

/*******GENERAL SPECS******/
h1 {
  font-family: var(--primary-fonts-family);
  font-size: var(--primary-fonts-size);
  color: var(--neutral-color);
}

h3 {
  font-family: var(--primary-fonts-family);
  color: var(--primary-color);
}

p {
  font-family: var(--secondary-fonts-family);
}

h2 {
  color: var(--accent-color);
  font-family: var(--primary-fonts-family);
  
}
h4{
  font-size: 10px;
}
.img-fluid {
  box-shadow: var(--shadow);
}
/*BTN-ACCESS-GRAL*/
.primary-style {
  background-color: var(--accent-color);
  text-decoration: none;
  color: var(--neutral-color);
  padding: var(--btn-padding);
  border-radius: var(--btn-border);
  box-shadow: var(--shadow);
}

.secondary-style {
  background-color: var(--neutral-color);
  text-decoration: none;
  color: var(--accent-color);
  padding: var(--btn-padding);
  border-radius: var(--btn-border);
  box-shadow: var(--shadow);
}

.primary-style:hover {
  color: var(--neutral-color);
  background-color: var(--primary-color);
}

.secondary-style:hover {
  color: var(--neutral-color);
  background-color: var(--primary-color);
}
.heading-btn,
.project-btn {
  padding-top: 30px;
}
.contact-btn,
.about-btn {
  padding-right: 20px;
}

/*******ABOUT ME******/
.container{
  padding-top: 200px;
  padding-bottom: 200px;
}

h3{
  text-align: center;
}
